<ion-view title="History" id="page6" class=" ">
    <ion-content padding="true" class="has-header">
        <div id="history-button-bar1" class=" button-bar ">
            <button id="history-button1" class=" button button-positive  button-block ">Date</button>
            <button id="history-button2" class=" button button-positive  button-block ">Name</button>
            <button id="history-button3" class=" button button-positive  button-block ">Style</button>
        </div>
        <ion-list id="history-list4" class=" ">
            <label class="item item-input " id="history-input1">
                <span class="input-label">Search</span>
                <input type="text" placeholder="">
            </label>
            <ion-item class="item-icon-right  " id="history-list-item15" ui-sref="tabsController.kegInfo">Pale Ale
                <span class="item-note">07/04/2016</span>
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item id="history-list-item16" ui-sref="tabsController.kegInfo" class="  ">Lemon Ginger Hef
                <span class="item-note">07/01/2017</span>
            </ion-item>
            <ion-item id="history-list-item17" ui-sref="tabsController.kegInfo" class="  ">Manny's Pale
                <span class="item-note">06/12/2016</span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>