<ion-view title="Manage" id="page7" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="manage-list8" class=" ">
            <ion-item class="item-icon-left item-icon-right  " id="manage-list-item22" ui-sref="tabsController.changeKeg">
                <i class="icon ion-wrench"></i>Change Keg
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right  " id="manage-list-item23" ui-sref="tabsController.beers">
                <i class="icon ion-beer"></i>Beer List
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item class="item-icon-left item-icon-right  " id="manage-list-item24" ui-sref="tabsController.kegWeights">
                <i class="icon ion-soup-can"></i>Keg Weights
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>