<ion-view title="On Tap" id="page5" class=" ">
    <ion-content padding="true" class=" manual-remove-top-padding has-header">
        <div class="list card " id="onTap-card23">
            <ion-item class="item-avatar item-icon-right  " id="onTap-list-item6" ui-sref="tabsController.kegInfo">
                <h2>Pale Ale</h2>
                <p>Sierra Nevada</p>
                <i class="icon ion-sad-outline"></i>
            </ion-item>
            <div class="item item-body " id="onTap-list-item-container5">
                <p id="onTap-markdown3" style="margin-top:0px;color:#000000;" class=" ">This is a description of the beer.</p>
                <ion-list id="onTap-list2" class=" ">
                    <ion-item id="onTap-list-item10" class="  ">Style
                        <span class="item-note">Pale Ale</span>
                    </ion-item>
                    <ion-item id="onTap-list-item8" class="  ">ABV
                        <span class="item-note">4.8%</span>
                    </ion-item>
                    <ion-item id="onTap-list-item9" class="  ">IBU
                        <span class="item-note">32</span>
                    </ion-item>
                </ion-list>
            </div>
        </div>
        <div class="list card " id="onTap-card24">
            <ion-item class="item-avatar item-icon-right  " id="onTap-list-item11" ui-sref="tabsController.kegInfo">
                <h2>Lemon Ginger Hef</h2>
                <p>McCall Brewing</p>
                <i class="icon ion-happy-outline"></i>
            </ion-item>
            <div class="item item-body " id="onTap-list-item-container6">
                <p id="onTap-markdown4" style="margin-top:0px;color:#000000;" class=" ">This is a description of the beer.</p>
                <ion-list id="onTap-list3" class=" ">
                    <ion-item id="onTap-list-item12" class="  ">Style
                        <span class="item-note">Hefeweizen</span>
                    </ion-item>
                    <ion-item id="onTap-list-item13" class="  ">ABV
                        <span class="item-note">4.95%</span>
                    </ion-item>
                    <ion-item id="onTap-list-item14" class="  ">IBU
                        <span class="item-note">19</span>
                    </ion-item>
                </ion-list>
            </div>
        </div>
    </ion-content>
</ion-view>