<ion-view title="Tabs Controller" id="page1" class=" ">
    <ion-tabs class="tabs-assertive tabs-icon-top " id="tabsController-tabs1">
        <ion-tab title="On Tap" icon="ion-beer" href="#/ontap/ontap" id="tabsController-tab4" class=" ">
            <ion-nav-view name="tab4"></ion-nav-view>
        </ion-tab>
        <ion-tab title="History" icon="ion-ios-calendar-outline" href="#/ontap/history" id="tabsController-tab3" class=" ">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Manage" icon="ion-android-settings" href="#/ontap/manage" id="tabsController-tab5" class=" ">
            <ion-nav-view name="tab5"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>